.dark .card-simple {
    background: #000;
    text: #fff;
    border: 3px dashed #fff;
}

.dark .article-metadata a {
      color: #fff;
  }

.dark .article-date {
      color: #fff;
  }
.dark .article-reading-time {
      color: #fff;
  }
.dark .navbar {
    background: #000;
}

.dark pre, .dark code {
  color:  #82f682 ;
  background-color: #44475a;
}
